@media screen and (min-width: 480px) {
    .container  {
        max-width: 428px;}
 

.hero {
    padding-left: 0;
    padding-right: 0;
    padding: 112px 54px;

}

.hero-container {
    max-width: 100%; 
}

.hero-title {
    margin: 0 auto 72px;
    max-width: 320px;  
}

.about-list {
    display: none; 
}


.about-icon{
    display: none;
}

.feature-header {
    max-width: 396px;
}
.about-list {
    width: 100%;
}

.section-two {
    display: none;
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}
.customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;
    gap: 24px;
}

.sub-input {
    width: 100%;
}

.header-nav-wrap{
    position: relative;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding-left: 40px;
    padding-top: 80px;
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;

}

.mobile-menu .is-open {
    display: block;
    transform: translateX(0);
}
.modal-svg-close{
    fill: currentColor;
}
.menu-button {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: none;
    width: 32px;
    height: 22px;

}

.svg-menu {
    stroke: rgba(46, 47, 66, 1);
    
}

.menu-close{
    background-color: var(--button);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: absolute;
    top: 24px;
    right: 24px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 24px; 
    height: 24px;
    cursor: pointer;
    color: var(--title-text-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close:is(:hover, :focus) {
    color: white;
    background-color: var(--focus);
}
.menu-nav {
    display: none;
}

.mobile-menu .menu-close {
    display: none;
}

.mobile-menu .is-open .menu-close {
    display: block;
}
.mobile-menu .menu-button {
    display: none;
}

}

}