@media screen and (min-width: 768px) {
    .container{
        max-width: 768px;    
    }  

    /*main-nav*/
    .container-header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .modal {
        width: 410px;
       }
    
       .site-nav {
        display: flex;
        margin-left: 76px;
    }
       .auth-nav {
        display: flex;
        align-items: center;
    }
    .auth-nav>li:not(:last-child) {
        margin-right: 40px;
    }
    address{
        margin-left: auto;
    }
    
    .current::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: var(--focus);
        border-radius: 2px;
        bottom: 0;
        left: 0;    
    }
    
    .menu-close {
        display: none;
    }
    .main-nav {
        display: flex;
        
    }
    .menu-button {
        display: none;
    }
    
    .main-nav-mobile {
        display: none;
    }
    
    .address-mobile {
        display: none;
    }
    .page-header {
        display: flex;
    }
    .social-list-menu {
        display: none;
    }
    
    .site-nav .link {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 500; 
    }
    
    .auth-nav .link {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400; 
    }
    .main-nav {
        padding-bottom: unset;   
    
    }
    .site-nav .link {
        position: relative;
        display: block;
        padding-top: 24px;
        padding-bottom: 24px;
        margin-bottom: unset;
    }
    
    .auth-nav {
        display: block;
    }
    
    address {
        display: flex;
        margin-left: auto;
    }
    /*hero*/
    .hero {
        padding: 112px 15px 108px;
   
}
    .hero-title {
    font-size: 56px;
    max-width: 494px;  
    margin: 0 auto 40px;
   }

    .hero {
    background-image: linear-gradient(rgba(46,47,66,0.7),
    rgba(46,47,66,0.7)), url(../images/people-tabl-1x.jpg); 
}
    @media (min-device-pixel-ratio : 2),
    (min-resolution: 192dpi),
     (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46,47,66,0.7),
     rgba(46,47,66,0.7)), url(../images/people-tabl-2x.jpg);
    }
}

   /*features*/
   .features {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px; 

}

    .desc-features {
    font-weight: 500;
}

   .feature-header {
    width: 356px;
    text-align: left;

}
    .features {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }

    .features > li {
        width:356px;
    }

    /*team*/
    .team {
        display: flex;
        flex-wrap: wrap;
        flex-direction: initial;
        justify-content: center;
        gap: 64px;
        column-gap: 24px;
    }
  
    .customers-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 72px;
        column-gap: 24px;
    }
    .customer-link {
    width: 168px;
}

    .section-team {
        padding-top: 96px;
        padding-bottom: 96px;
    }
      /*footer*/  
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        flex-basis: calc((100%-24px) / 3);
        row-gap: 72px;
        column-gap: 24px;
        width: 565px; 
    }
    
    .footer-social-icons {
    margin-bottom: unset; }

    .footer-section {
        padding-top: 96px;
        padding-bottom: 96px;
    }
    .social-media-title{
        display: inline-block;
    }
   .logo-slogan {
        display: block;
        margin-bottom: unset;
   }
   .slogan {
        text-align: left;
   }
   .sub-desc {
         display: flex;
   }

   .footer-span {
    display: flex;  
}
    .sub-input {
    margin-right: 24px;
    width: 264px;
}

}


