@media screen and (min-width: 768px) {
    .container{
        max-width: 768px;    
    }  
    
    .team {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 64px;
        column-gap: 24px;
    }
  
    .customers-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-container {
        display: flex;
        flex-wrap: wrap;
        flex-basis: calc((100%-24px) / 3);
        row-gap: 72px;
        column-gap: 24px;
        width: 565px;
      
    }
    .social-media-title{
        display: inline-block;
    }
   .logo-slogan {
        display: block;
        margin-right: 24px;
   }
   .slogan {
        text-align: left;
   }
   .sub-desc {
         display: flex;
   }

   .footer-span {
    display: flex;  
}
.sub-input {
    margin-right: 24px;
    width: 264px;
}
   
}
